:root{
    --bar-bg: #343a40;
}
body{
    background-color: #ededed;
}
#sidenav-bar{
    background-color: var(--bar-bg);
}

.nav-text{
    color: white !important;
}

.sidenav---navicon---3gCRo{
    color:white !important;
}

#user-button, .card-button{
    background-color: var(--bar-bg);
    border-color: var(--bar-bg);
    box-shadow:1px 3px 7px var(--bar-bg);
}
.card-button:hover, .card-button:focus, .card-button:active{
    background-color: white !important;
    color: var(--bar-bg) !important;
    border-color: var(--bar-bg) !important;
}


.dashboard-content{
    margin-top: 3rem;
    margin-right: 4rem;
}

.status-painel{
    margin-top: 1rem;
}

.info-cards{
    box-shadow: 2px 4px 12px black;
}